<link rel="stylesheet" href="/public/styles.css">
<%- include('./partials/navbar') %>

<h1>Your Favorited Animals:</h1>
<% if (animals.length == 0) { %> 
    <h1>You have not favorited any animals!</h1>
<% } else { %>
    <% animals.forEach(animal => { %>
        <% if(animal.extinct === true) { %>
            <h1 style="color:rgba(255, 0, 0, 0.801)">Name: <%= animal.species_name %></h1>
        <% } else {%>
            <h1>Name: <%= animal.species_name %></h1>
        <% } %> 
    <h2>Scientific Name: <i><%= animal.scientific_name %></i></h2>
    <img src='<%= animal.image_url%>' max-width="300px" max-height="300px">
    <h2>Description: <%= animal.description%></h2>
    <% }) %> 
<% } %> 